.inventoryContainer {
    display: flex;
    flex-direction: row;
    width: 900px;
    flex-wrap: wrap;
    justify-content: center;
}

.itemDisplay {
    border: 2px solid black;
    border-radius: 10px;
    height: 350px;
    width: 420px;
    overflow: auto;
    margin: 4px;
    font-size: 16px;
}

.AddButton {
    float: right;
    font-size: 16px;
    color: aliceblue;
    background-color: rgb(13, 109, 31);
    margin-right: 4px;
    border-radius: 6px;
}

.invElement {
    margin-left: 4px;
}

.invType {
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: black;
    margin-left: 20px;
    margin-right: 20px;
}