/* .daddyContainer {
    background-image: url('https://c4.wallpaperflare.com/wallpaper/635/560/22/forest-path-pathway-vegetation-forest-wallpaper-preview.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: auto;
    height: 1000px;
} */

.tipHeader {
    border: 5px solid black;
    background-color: rgb(62, 38, 18);
    color: rgb(182, 143, 92);
    border-radius: 20px;
    align-self: center;
    padding: 6px;
    font-size: 26px;
    font-weight: 500;
}

.tips {
    font-size: 22px;
    font-weight: 600;
    width: 280px;
    height: 200px;
    border-radius: 20px;
    margin: 10px;

}

.tipButton {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(22, 55, 4);
    color: rgb(4, 207, 4);
    width: 280px;
    height: 40px;
    border-radius: 20px;
    margin: 6px;
}

.tipContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    float: right;
    border: 8px solid black;
    border-radius: 20px;
    backdrop-filter: blur(50px) sepia(50%);
    background-color: rgba(0, 0, 0, 0.2); 
    margin-right: 50px;
    margin-top: 50px;
    padding: 6px;
}