/* Header.css */

/* Basic styling for the navbar */
.navbar {
    background-color: #204a15;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
  }
  
  .navbar-brand {
    color: #fff;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 200px;
  }

  .navbar-brand:hover {
    color: #00c407;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 200px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .nav-link:hover {
    color: #00c407;
    text-decoration: none;
  }
  
  .logout-link {
    margin-left: auto;
  }